<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>FH-Kiel Edit Password</title>

    <link rel="icon" href="images/favicon.ico" type="ico" sizes="16x16">
    <link href="./stylesheets/stylesheet1.css" rel="stylesheet" type="text/css" />
    <link href="./stylesheets/responsive askhere.css" rel="stylesheet" type="text/css" />

    <script>
        function validateForm()
        {
//////////////////////////////////////////////////////
            var e=document.forms["Form"]["newpassword"].value;
            var f=document.forms["Form"]["newpasswordmatch"].value;

            if (e!=f)
            {
                alert("New Password do not match !");
                return false;
            }
//////////////////////////////////////////////////////
            return 1;
        }
    </script>

</head>

<body>
<div class="win-wrap">

    <div class="wrapper">

        <div class="content">

            <div class="header">
                <div class="header-logo"><img src="images/fh-kiel header logo.jpg" width="100%" /></div>
                <div class="logout-pannel">
                    <div class="logout-btn"><div class="name">Welcome<span class="log-name"> <%= uname%> </span> <% if (uname != "Visitor Student"){%>  <a href="/logout">Logout</a> <%}%></div></div>
                </div>
                <div class="navbar">
                    <div class="menu">
                        <ul>
                            <li style="font-size: larger;font-family: FontAwesome"><a href="/">Home</a></li>&nbsp;<span class="arrow">&#x25BA;</span>
                            <% if (uname != "Visitor Student"){%>
                            <li style="font-size: larger;font-family: FontAwesome"><a href="/profile">Profile</a></li>&nbsp;<span class="arrow">&#x25BA;</span>
                            <% if (uname == "admin"){%>
                            <li style="font-size: larger;font-family: FontAwesome"><a href="/user">Admin</a></li>&nbsp;<span class="arrow">&#x25BA;</span>
                            <%}%>
                            <li style="font-size: larger;font-family: FontAwesome"><a href="/contact">About Us</a></li>
                            <%}%>
                        </ul>

                        <div class="source-logo" style="margin-right: 75px; color: #FFFFFF;">
                            <a href="https://www.praktikum.info"><img src="images/praktikuminfo.png" style=" height: 34px; margin-top: -26px; margin-left: 10px" align="right"/></a>
                            <a href="http://de.indeed.com/?r=us"><img src="images/indeed.png" style=" height: 34px; margin-top: -26px; margin-left: 10px" align="right"/></a>
                            <a href="http://www.it-jobs.stepstone.de"><img src="images/stepstone.png" style=" height: 34px; margin-top: -26px; margin-left: 10px" align="right"/></a>
                            <a href="http://www.meinpraktikum.de"><img src="images/meinpraktikum.png" style=" height: 34px; margin-top: -26px; margin-left: 10px" align="right"/></a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="main-body">
                <div class="mainbody-content">

                    <div class="edit-password">
                        <h2>Edit Password</h2>
                        Password Detail: Enter Current and New Password <span class="log-name"> <%= uname%> </span> here !!!
                            <pre>
                            </pre>
                        <form method="POST" action="/passeditlogout" name="Form" onSubmit="return validateForm();">

                            <table id="edit-password-table">

                                <tr>
                                    <td><label for="newpassword">New Password</label></td>
                                    <td><input type="password" name="newpassword" size="15" value="" required autofocus/></td>
                                </tr>
                                <tr>
                                    <td><label for="newpasswordmatch">New Password Match</label></td>
                                    <td><input type="password" name="newpasswordmatch" size="15" value="" required/></td>
                                </tr>

                            </table>

                            <br/>
                            <input type="submit" value=" Update Password " />
                            <br/><br/>

                        </form>
                    </div>

                    <hr/>

                    <div class="edit-profile">
                        <h2>Edit Profile</h2>
                        Profile Detail: Enter your profile updates <span class="log-name"> <%= uname%> </span> here !!!
                            <pre>
                            </pre>
                        <form method="POST" action="/profileeditlogout" name="Form">

                            <table id="edit-profile-table">
                                <tr>
                                    <td><label for="fname">First name</label></td>
                                    <td><input type="text" name="fname" size="15" value="" required/></td>
                                </tr>
                                <tr>
                                    <td><label for="lname">Last name</label></td>
                                    <td><input type="text" name="lname" size="15" value="" required/></td>
                                </tr>
                                <tr>
                                    <td><label for="email">E-Mail</label></td>
                                    <td><input type="email" name="email" size="20" value="" required/></td>
                                </tr>

                            </table>

                            <br/>
                            <input type="submit" value=" Update Profile " />
                            <br/><br/>

                        </form>
                    </div>


                </div>
            </div>

        </div>

        <div class="footer">
            <div class="footerlinks">
                <ul>
                    <li><a href="/">Homepage</a></li>&nbsp|&nbsp;
                    <li><a href="http://www.fh-kiel.de">FH-Kiel</a></li>&nbsp|&nbsp;
                    <li><a href="/contact">About Us</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>
</body>

</html>
